<div data-bh-lwire="portool,btn_act,ib_oenter,d_tbl"></div>
<div data-bh-swire=""></div>
<div id="pathd-val" string="{femle:home}"></div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button id="btna-nexp-" an="refresh"  data-b-bheprop="false" data-bh-ov-kv="true" idr="0" class="waves-effect waves-light btn btn-relief-primary">
                {femle:refresh}  &nbsp;<span class="svg-icon svg-icon-white solid svg-icon-md">{svgi:General/Update}</span>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
        
    </div>
</div>